n8n-resume-jobsearch-autoapply.json
{
  "name": "Resume Job Search Auto Apply",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-apply",
        "responseMode": "onReceived",
        "options": {
          "responseData": "{\"success\": true}"
        }
      },
      "name": "Resume Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 100]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$json[\"resume_url\"] || 'https://example-ocr-service.local/parse'}}",
        "responseFormat": "json",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          },
          "bodyParametersJson": "={\"fileUrl\": $json[\"resume_url\"] || $json[\"binary\"] ? 'binary' : ''}\n"
        }
      },
      "name": "OCR / Text Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 100]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "instruction": "Extract skills, titles, keywords, location, experience, and preferred roles from the resume text. Return only valid JSON with keys: skills, keywords, location, experience, summary.",
        "additionalFields": {
          "temperature": 0.1
        },
        "input": "={{$json[\"text\"] || $json[\"body\"] || $json[\"data\"]}}"
      },
      "name": "Parse Resume",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [700, 100],
      "credentials": {
        "openAiApi": {
          "id": "=process.env.OPENAI_API_KEY ? 'openai_api_key' : ''",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "items[0].json.keywords = items[0].json.keywords || [];\nitems[0].json.skills = items[0].json.skills || [];\nconst terms = [].concat(items[0].json.keywords || [], items[0].json.skills || []);\nitems[0].json.searchTerms = [...new Set(terms)].slice(0, 10);\nreturn items;"
      },
      "name": "Build Search Keywords",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [950, 100]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "https://api.example-jobboard.com/search",
        "responseFormat": "json",
        "options": {
          "queryParametersUi": {
            "parameter": [
              {
                "name": "q",
                "value": "={{$json.searchTerms.join(' ')}}"
              },
              {
                "name": "location",
                "value": "={{$json.location || 'remote'}}"
              },
              {
                "name": "limit",
                "value": "20"
              }
            ]
          }
        }
      },
      "name": "Job Board Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1150, 100]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "job_title",
              "value": "={{$json[\"title\"] || $json[\"job_title\"]}}"
            },
            {
              "name": "company_name",
              "value": "={{$json[\"company\"] || $json[\"company_name\"]}}"
            },
            {
              "name": "application_url",
              "value": "={{$json[\"url\"] || $json[\"application_url\"]}}"
            },
            {
              "name": "location",
              "value": "={{$json[\"location\"] || $json[\"job_location\"]}}"
            },
            {
              "name": "description",
              "value": "={{$json[\"description\"] || $json[\"summary\"]}}"
            }
          ]
        }
      },
      "name": "Normalize Job Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1400, 100]
    },
    {
      "parameters": {
        "functionCode": "const seen = new Set();\nreturn items.filter(item => {\n  const key = `${item.json.application_url || item.json.job_title}-${item.json.company_name}`;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});"
      },
      "name": "Deduplicate Jobs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.location || ''}}",
              "operation": "contains",
              "value2": "Remote"
            }
          ]
        }
      },
      "name": "Filter Jobs",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [1850, 100]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "instruction": "Rate how well this job matches the resume on a scale from 1 to 10, and return JSON with keys match_score and reason.",
        "additionalFields": {
          "temperature": 0.2
        },
        "input": "={{`Resume keywords: ${($json.skills || []).join(', ')}; Job title: ${$json.job_title}; Job company: ${$json.company_name}; Job description: ${$json.description}`}}"
      },
      "name": "Score Relevance",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [2050, 100],
      "credentials": {
        "openAiApi": {
          "id": "=process.env.OPENAI_API_KEY ? 'openai_api_key' : ''",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const rating = JSON.parse(items[0].json.response || '{}');\nitems[0].json.match_score = rating.match_score || rating.score || 0;\nitems[0].json.match_reason = rating.reason || '';\nreturn items;"
      },
      "name": "Apply Score",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2250, 100]
    },
    {
      "parameters": {
        "sortBy": "={{$json.match_score || 0}}",
        "order": "desc"
      },
      "name": "Sort Jobs",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [2450, 100]
    },
    {
      "parameters": {
        "batchSize": 5
      },
      "name": "Split Top Jobs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [2650, 100]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "my_name",
              "value": "John Doe"
            },
            {
              "name": "my_email",
              "value": "john.doe@example.com"
            },
            {
              "name": "resume_link",
              "value": "https://example.com/myresume.pdf"
            },
            {
              "name": "job_title",
              "value": "={{$json.job_title}}"
            },
            {
              "name": "company_name",
              "value": "={{$json.company_name}}"
            },
            {
              "name": "application_url",
              "value": "={{$json.application_url}}"
            }
          ]
        }
      },
      "name": "Prepare Application Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2850, 100]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "instruction": "Generate a short, personalized cover letter for this role. Include the job title, company name, key resume strengths, and a professional closing.",
        "additionalFields": {
          "temperature": 0.4
        },
        "input": "={{`Job title: ${$json.job_title}; Company: ${$json.company_name}; Resume summary: ${$json.summary || ''}; Skills: ${($json.skills || []).join(', ')}`}}"
      },
      "name": "Generate Cover Letter",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [3050, 100],
      "credentials": {
        "openAiApi": {
          "id": "=process.env.OPENAI_API_KEY ? 'openai_api_key' : ''",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "main",
        "runOnce": false
      },
      "name": "Try Apply",
      "type": "n8n-nodes-base.try",
      "typeVersion": 1,
      "position": [3250, 100]
    },
    {
      "parameters": {
        "url": "={{$json.application_url}}",
        "actions": [
          {
            "action": "goto",
            "target": "={{$json.application_url}}"
          },
          {
            "action": "fill",
            "selector": "input[name=fullName]",
            "text": "={{$json.my_name}}"
          },
          {
            "action": "fill",
            "selector": "input[name=email]",
            "text": "={{$json.my_email}}"
          },
          {
            "action": "fill",
            "selector": "textarea[name=coverLetter]",
            "text": "={{$json.response}}"
          },
          {
            "action": "upload",
            "selector": "input[type=file]",
            "filePath": "=/tmp/myresume.pdf"
          },
          {
            "action": "click",
            "selector": "button[type=submit]"
          }
        ],
        "options": {
          "waitUntil": "networkidle0"
        }
      },
      "name": "Playwright Apply",
      "type": "n8n-nodes-playwright.playwright",
      "typeVersion": 1,
      "position": [3450, 100]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Applied"
            }
          ]
        }
      },
      "name": "Set Applied",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [3650, 60]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Failed"
            },
            {
              "name": "error_message",
              "value": "={{$error[0].message}}"
            }
          ]
        }
      },
      "name": "Set Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [3650, 180]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID",
        "range": "Sheet1!A:F",
        "valueInputMode": "USER_ENTERED",
        "options": {},
        "data": [
          {
            "field": "job_title",
            "value": "={{$json.job_title}}"
          },
          {
            "field": "company_name",
            "value": "={{$json.company_name}}"
          },
          {
            "field": "status",
            "value": "={{$json.status}}"
          },
          {
            "field": "application_url",
            "value": "={{$json.application_url}}"
          },
          {
            "field": "match_score",
            "value": "={{$json.match_score}}"
          },
          {
            "field": "date",
            "value": "={{new Date().toISOString()}}"
          }
        ]
      },
      "name": "Log Applications",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [3850, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "=process.env.GOOGLE_SHEETS_CREDENTIAL_ID ? process.env.GOOGLE_SHEETS_CREDENTIAL_ID : 'google_sheets'",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "you@example.com",
        "toEmail": "you@example.com",
        "subject": "n8n Job Application Status: {{$json.status}}",
        "message": "Job: {{$json.job_title}}\nCompany: {{$json.company_name}}\nStatus: {{$json.status}}\nURL: {{$json.application_url}}\nScore: {{$json.match_score}}\nError: {{$json.error_message || 'None'}}"
      },
      "name": "Notify",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [4050, 100]
    }
  ],
  "connections": {
    "Resume Webhook": {
      "main": [
        [
          {
            "node": "OCR / Text Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR / Text Extract": {
      "main": [
        [
          {
            "node": "Parse Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resume": {
      "main": [
        [
          {
            "node": "Build Search Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Keywords": {
      "main": [
        [
          {
            "node": "Job Board Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Board Search": {
      "main": [
        [
          {
            "node": "Normalize Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Job Data": {
      "main": [
        [
          {
            "node": "Deduplicate Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Jobs": {
      "main": [
        [
          {
            "node": "Filter Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Jobs": {
      "main": [
        [
          {
            "node": "Score Relevance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Relevance": {
      "main": [
        [
          {
            "node": "Apply Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Score": {
      "main": [
        [
          {
            "node": "Sort Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Jobs": {
      "main": [
        [
          {
            "node": "Split Top Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Top Jobs": {
      "main": [
        [
          {
            "node": "Prepare Application Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Application Data": {
      "main": [
        [
          {
            "node": "Generate Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover Letter": {
      "main": [
        [
          {
            "node": "Try Apply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try Apply": {
      "main": [
        [
          {
            "node": "Playwright Apply",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Set Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Playwright Apply": {
      "main": [
        [
          {
            "node": "Set Applied",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Applications",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Failed": {
      "main": [
        [
          {
            "node": "Log Applications",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "id": "1"
}
